<div class="welcome-section">
    <h1 class="welcome-title">Bienvenidos a OMEGA GAMES</h1>
    <p class="welcome-text">
      En OMEGA GAMES, nos apasiona el mundo de los juegos de mesa y estamos dedicados a ofrecerte la mejor selección de juegos para todas las edades y gustos. Ya seas un aventurero en busca de emociones, un estratega amante de los desafíos, o simplemente alguien que disfruta de una noche de juegos en familia, ¡OMEGA GAMES tiene algo para ti!
    </p>
    <h2 class="section-title">Nuestra Misión</h2>
    <p class="welcome-text">
      En OMEGA GAMES, creemos que los juegos de mesa tienen el poder de unir a las personas y crear momentos inolvidables. Nuestra misión es proporcionar una plataforma donde los entusiastas de los juegos puedan descubrir, comprar y disfrutar de una amplia variedad de juegos de mesa de alta calidad.
    </p>
    <h2 class="section-title">Explora Nuestras Categorías</h2>
    <ul class="categories-list">
      <li><strong>Aventura:</strong> Sumérgete en mundos llenos de acción y emoción con nuestros juegos de aventura.</li>
      <li><strong>Dos Jugadores:</strong> Encuentra el desafío perfecto para ti y un amigo con nuestra selección de juegos para dos jugadores.</li>
      <li><strong>Familiar:</strong> Disfruta de momentos divertidos y memorables con nuestra colección de juegos familiares.</li>
      <li><strong>Niños:</strong> Descubre juegos diseñados específicamente para los más pequeños, con temáticas y mecánicas apropiadas para su edad.</li>
    </ul>
    <h2 class="section-title">Carrito de Compras</h2>
    <p class="welcome-text">
      Navega por nuestras categorías, selecciona tus juegos favoritos y agrégalos a tu carrito de compras. Con una experiencia de compra fácil y segura, podrás recibir tus juegos en la puerta de tu casa y empezar a jugar en poco tiempo.
    </p>
    <h2 class="section-title">Inicio de Sesión</h2>
    <p class="welcome-text">
      ¿Ya tienes una cuenta? Inicia sesión para acceder a tu historial de compras y disfrutar de ofertas exclusivas para miembros. Si aún no tienes una cuenta, ¡regístrate hoy mismo y únete a nuestra comunidad de amantes de los juegos de mesa!
    </p>
    <h2 class="section-title">Contacto</h2>
    <p class="welcome-text">
      ¿Tienes alguna pregunta o necesitas asistencia? Nuestro equipo de atención al cliente está aquí para ayudarte. No dudes en contactarnos a través de nuestro formulario de contacto o llamarnos al [número de teléfono].
    </p>
  </div>
  