    <main class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/imagenes/niños/EL_LABERINTO_MAGICO.jpg" alt="Juego de niños" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h2>El Laberinto Mágico</h2>
                <p>¡Paf! ¡Ay! El pequeño mago se frota los ojos con sorpresa. ¿Hay un muro delante de él? Los aprendices de mago exploran con curiosidad el laberinto mágico. Hoy tienen una tarea importante que cumplir: ¡buscar los símbolos mágicos! Esto resultaría muy sencillo si no fuera porque los grandes magos siempre les están gastando bromas a los niños. Los caminos se van abriendo y cerrando, como por arte de magia... El laberinto está formado por paredes invisibles que los pequeños no pueden atravesar. Por ello, para moverse deberán tener una buena memoria que les permita recordar cuáles son los caminos por los que se puede pasar. Cada jugador intenta vencer al laberinto con su peón y ser el primero en conseguir cinco símbolos mágicos.

                    Mediante un ingenioso sistema, los jugadores desconocen en cada partida cuales son los senderos abiertos que les permitirán desplazarse por el laberinto invisible que les rodea; de este modo, cada partida se convierte en una emocionante carrera en la que la memoria, la audacia y la suerte son necesarias para hacerse con la victoria.
                    
                    El Laberinto Mágico es, junto con La Escalera Encantada, uno de los grandes éxitos de la prestigiosa editorial Drei Magier. Este título también ganó el Spiel of Jahres, lo cual es garantía de calidad.</p>
                <p><strong>Precio:</strong> $32.990</p>
                <p><strong>Descuento:</strong> Sí</p>
                <button class="btn custom-btn" (click)="agregarAlCarro({ id: 10, nombre: 'El Laberinto Mágico', precio: 32990 })">Agregar al Carrito</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="assets/imagenes/niños/DOBBLE.jpg" alt="Juego de niños" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h2>Dobble</h2>
                <p>Dobble un juego con más de 50 símbolos, 55 cartas, con uno, y solamente un símbolo idéntico entre cada carta. ¿Serás capaz de descubrirlo? Si nunca has jugado a Dobble, coge dos cartas al azar y ponlas boca arriba sobre la mesa a la vista de todos los jugadores. Busca el símbolo idéntico en las dos cartas (misma forma y mismo color, sólo el tamaño puede variar). El primer jugador que encuentre este símbolo, lo nombra y roba dos nuevas cartas que pondrá sobre la mesa. Repite esta operación hasta que todos los jugadores hayan entendido que siempre hay solamente un símbolo idéntico entre dos cartas ¡Y ya está! sencillo, ¿verdad? Pues ahora prepárate, porque Dobble contiene varios mini-juegos, cada cual más divertido e hilarante, aunque el objetivo siempre es el mismo: ser el más rápido, ya que todos los jugadores juegan a la vez.</p>
                <p><strong>Precio:</strong> $13.990</p>
                <p><strong>Descuento:</strong> Sí</p>
                <button class="btn custom-btn" (click)="agregarAlCarro({ id: 11, nombre: 'Dobble', precio: 13990 })">Agregar al Carrito</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="assets/imagenes/niños/MASCARADE.jpg" alt="Juego de niños" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h2>Mascarade</h2>
                <p>Mascarade es un juego de engaño de 2 a 13 jugadores, diseñado por el genial Bruno Faidutti.

                    Cada jugador recibe una carta de personaje, boca abajo. Durante la partida, los jugadores intercambiarán sus personajes, ¡de forma que nadie esté nunca seguro de la carta que tiene frente a sí mismo!
                    
                    El objetivo del juego es utilizar los poderes de los personajes para obtener 13 monedas de oro. Sin embargo, si un jugador quiebra, la partida termina inmediatamente y gana la partida el jugador más rico.</p>
                <p><strong>Precio:</strong> $21.990</p>
                <p><strong>Descuento:</strong> Sí</p>
                <button class="btn custom-btn" (click)="agregarAlCarro({ id: 11, nombre: 'Mascarade', precio: 21990 })">Agregar al Carrito</button>
            </div>
        </div>
    </main>
