    <main class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/imagenes/familiar/7_WONDERS.jpg" alt="Juego familiar" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h2>7 Wonders</h2>
                <p>Gobierna una de las siete grandes ciudades del mundo antiguo. Explota los recursos naturales de sus tierras, participa en la imparable marcha del progreso, desarrolla tus relaciones comerciales y haz valer su poder militar. Deja tu huella en la historia de la civilización construyendo una Maravilla arquitectónica que trascienda a través de los tiempos venideros.

                    Una partida de 7 Wonders tiene lugar a lo largo de tres Eras, cada una de ellas representada mediante su correspondiente mazo (primero las cartas de Era I, a continuación, Era II y, finalmente, Era III). Cada una de estas Eras se juega de la misma manera, permitiendo a cada jugador jugar 6 cartas por Era con el fin de desarrollar su ciudad y construir sus Maravillas. Al final de cada Era, cada jugador compara su potencia militar con la de sus dos ciudades vecinas (las pertenecientes a los jugadores de su derecha e izquierda).
                    
                    Al final de la tercera Era, los jugadores cuentan sus puntos de victoria; el jugador con más puntos gana la partida.</p>
                <p><strong>Precio:</strong> $48.990</p>
                <p><strong>Descuento:</strong> Sí</p>
                <button class="btn custom-btn" (click)="agregarAlCarro({ id: 7, nombre: '7 Wonders', precio: 48990 })">Agregar al Carrito</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="assets/imagenes/familiar/BANG.jpg" alt="Juego familiar" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h2>Bang! (El Juego del Salvaje Oeste)</h2>
                <p>Una calle polvorienta. Una zarza rueda de un lado a otro. Dos hombres de pie, frente a frente. Uno de ellos va armado con una pistola. El otro le apunta con su Winchester.

                    Todos miran con ansiedad al pistolero, pensando que ya está muerto, que no tiene nada que hacer ante el rifle... ¡pero lo que no saben es que su pistola es una Volcanic!
                    
                    En el Salvaje Oeste, los Forajidos dan caza al Sheriff, el Sheriff da caza a los Forajidos, y el Renegado urde su plan en secreto, listo para unirse a cualquiera de los bandos. Dentro de poco, ¡las balas comenzarán a zumbar! 
                    
                    ¿Quiénes serán los Alguaciles, dispuestos a dar su vida por el Sheriff? ¿Quiénes serán los implacables Forajidos, que intentan acabar con él? El juego de cartas más famoso del Salvaje Oeste vuelve, en un formato mejorado, con nuevos componentes, ¡más fácil de aprender y jugar que nunca!</p>
                <p><strong>Precio:</strong> $20.990</p>
                <p><strong>Descuento:</strong> Sí</p>
                <button class="btn custom-btn" (click)="agregarAlCarro({ id: 8, nombre: 'Bang! (El Juego del Salvaje Oeste)', precio: 20990 })">Agregar al Carrito</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="assets/imagenes/familiar/MYSTERIUM.jpg" alt="Juego familiar" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h2>Mysterium</h2>
                <p>Mysterium es un juego de mesa cooperativo en el que tú y tus amigos se aventuran mentalmente en la mansión encantada de Mysterium. Un jugador representa el papel de fantasma mientras todos los demás son mediums. Para resolver el crimen, el fantasma debe primero recordar (con vuestra ayuda) los detalles y sospechosos.

                    1920, el Sr. MacDowell, el astrólogo , inmediatamente detectó un ser sobrenatural al entrar en su nueva casa en Escocia. Reunió a los mas eminentes mediums de su tiempo para una sesión de espiritismo extraordinaria, hay siete horas para contactar el fantasma e investigar cualquier pista que pueda proporcionar para desbloquear un antiguo misterio.
                    
                    Incapaz de hablar, el fantasma amnésico se comunica con los mediums a través de visiones, que se representan en el juego de mesa por las cartas ilustradas. Los mediums deben descifrar las imágenes para ayudar al fantasma a recordar cómo fue asesinado: ¿Quién perpetró el crimen? ¿Donde tuvo lugar? ¿Qué arma causó la muerte? Cuanto más cooperen y adivinen, más fácil será detener al culpable.</p>
                <p><strong>Precio:</strong> $39.990</p>
                <p><strong>Descuento:</strong> Sí</p>
                <button class="btn custom-btn" (click)="agregarAlCarro({ id: 9, nombre: 'Mysterium', precio: 39990 })">Agregar al Carrito</button>
            </div>
        </div>
    </main>

